@import './variables.scss';
body {
  font-family: 'Montserrat';

  .background{
    position: relative;
    background-image: url('../hypnotize.png');
    min-height: 100vh;
    .layer{
      height: 100%;
      width: 100%;
      background: rgba(102, 0, 255, 0.2);
      position: absolute;
      top: 0;
      left: 0;

    }
  }

}

.card.card-custom .card-header{
  background: $primaryColor;
  border-radius: 5px 5px 0px 0px;
}
.card.card-custom{
  border-radius: 5px !important;
}

.btn.btn-custom {
  background-color: $primaryColor;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken($primaryColor, 10);
  }
  &:focus{
    outline: none;
    box-shadow: none;
    background-color: darken($primaryColor, 10);

  }
}

body{
  form .form-control.form-control-custom{
    border: 1.5px solid #aaa;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 3px;
    transition: border-color 0.5s;
    &:focus{
      box-shadow: none;
      outline: none;
      border-color: #777;
    }
    &[aria-invalid="true"] {
      border-color: $myCrimson;
    }
  }

}
